footer {
  @extend %align-center;
  justify-content: center;
  height: 94px;
  background: $dark;
  p {
    @extend %font-text;
    margin: 0;
    width: 251px;
    height: 20px;
    color: $light;
    font-weight: 500;
    font-size: 15px;
    line-height: 21.72px;
  }
}
