@import 'media-queries.scss';
@import 'color';

%align-center {
  display: flex;
  align-items: center;
}

%font-text {
  font-family: Noto Sans JP;
}

%font-size {
  font-size: 15px;
  font-weight: 500;
  line-height: 21.72px;
}

.navbar {
  background: $light;
  opacity: 0.8;
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
  @include mobie {
    height: 69px;
  }

  &-logo {
    img {
      width: 30%;
      height: 30%;
    }
    a {
      @extend %font-text;
      font-weight: 700;
      font-size: 20px;
      line-height: 28.96px;
    }
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0;
    @extend %align-center;

    @include mobie {
      align-items: center;
      font-size: 1.5rem;
      justify-content: center;
      width: 100%;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }

  &-bars {
    opacity: 0;

    @include mobie {
      color: $gray;
      opacity: 1;
      position: absolute;
      margin: 5%;
      font-size: 2rem;
    }
  }

  &-input {
    display: flex;
    width: 30%;
    height: 46px;
    border-radius: 5px;
    position: relative;

    input {
      @extend %font-text;
      @extend %font-size;
      padding-left: 20px;
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 5px;
      border: none;

      &:focus {
        outline: none;
      }
    }

    button {
      opacity: 0.2;
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 100%;
      border-radius: 25px;
      cursor: pointer;
      border: none;
    }

    @include mobie {
      display: none;
    }
  }

  &-search {
    opacity: 0;

    @include mobie {
      opacity: 1;
      position: absolute;
      top: 25px;
      right: 10%;
      border-radius: 25px;
      border: none;
    }
  }

  &-menu {
    @extend %font-text;
    @extend %align-center;
    @extend %font-size;
    list-style: none;
    text-align: center;

    @include mobie {
      display: none;
    }

    &-items {
      @extend %align-center;
      color: $dark;
      justify-content: center;
      text-decoration: none;
      padding: 10px;
    }

    #button {
      padding: 6px 18px;
      border: none;
      outline: none;
      border-radius: 5px;
      background: $red;
      color: $light;

      &:hover {
        background: $gray;
      }
    }
  }
}