@import "_color";

%align-center {
  display: flex;
  align-items: center;
}

%font-text {
  font-family: Noto Sans JP;
}

%font-size {
  font-size: 15px;
  font-weight: 500;
  line-height: 21.72px;
}

.navbar {
  @extend %align-center;
  background: $nav-color;
  height: 122px;
  justify-content: space-between;
  z-index: 10;
  position: relative;
  @include mobie {
    height: 69px;
  }

  &-logo {
    @extend %align-center;
    text-decoration: none;
    width: 55%;
    height: 61px;
    margin-left: 7%;
    position: absolute;

    &-input {
      @extend %align-center;
      width: 40%;
      margin-left: 20px;
      height: 46px;
      border-radius: 5px;
      position: relative;

      input {
        @extend %font-text;
        @extend %font-size;
        padding-left: 10px;
        width: 100%;
        height: 100%;
        border: none;
        background: $light;
        list-style: none;

        &::placeholder {
          color: $placeholder;
        }
  
        &:focus {
          outline: none;
        }
      }

      button {
        @extend %align-center;
        position: absolute;
        top: 14px;
        right: 12px;
        width: 19px;
        height: 19px;
        border-radius: 25px;
        border: none;
      }
  
      @include mobie {
        display: none;
      }
    }
    
    img {
      height: 100%;
    }

    span {
      @extend %font-text;
      font-weight: 700;
      font-size: 20px;
      line-height: 28.96px;
      font-style: normal;
      color: $dark;
      top: 1px;
    }

    @include mobie {
      @extend %align-center;
      top: 0;
      left: 0;
      font-size: 20px;
      justify-content: center;
      width: 100%;
      img {
        width: 47.09px;
        height: 45px;
      }
    }
  }

  &-bars {
    opacity: 0;

    @include mobie {
      color: $gray;
      opacity: 1;
      position: absolute;
      margin: 5%;
      font-size: 2rem;
    }
  }

  &-search {
    opacity: 0;

    @include mobie {
      opacity: 1;
      position: absolute;
      top: 25px;
      right: 10%;
      border-radius: 25px;
      border: none;
    }
  }

  &-menu {
    @extend %align-center;
    margin-right: 7%;
    text-decoration: none;

    @include mobie {
      display: none;
    }

    &-avt {
      margin-left: 10px;
    }

    &-name {
      margin-left: 70px;
    }

    &-create {
      margin-left: 20px;
    }

    &-btn {
      @extend %font-text;
      @extend %align-center;
      justify-content: center;
      width: 51px;
      height: 31px;
      border-radius: 3px;
      background: $red;

      button {
        @extend %font-size;
        background: $red;
        border: none;
        color: $light;
      }
    }

    a {
      @extend %font-text;
      @extend %align-center;
      @extend %font-size;
      text-decoration: none;
      color: $nav-color-text;
      justify-content: center;
    }
  }

  &-user-avt {
    width: 26.67px;
    height: 26.67px;
    top: 48px;
    left: 1382px;
    position: absolute;
  }
}
