@import '_media-queries.scss';
@import "_header";
@import "_navbar";
@import "_blogs";
@import "_footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes header-up {
  0% {
    top: 0px;
  }
  100% {
    top: -122px;
  }
}
@keyframes header-down {
  0% {
    top: -122px;
  }
  100% {
    top: 0;
  }
}

body {
  .header-up {
    animation-name: header-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .header-down {
    animation-name: header-down;
    animation-duration: 1s;
  }
}
