header {
  position: relative;
}
header .image-banner {
  position: absolute;
  width: 100%;
  height: 519.42px;
}
@media screen and (max-width: 768px) {
  header .image-banner {
    height: 380px;
  }
}

footer, .blogs .card-body button, .blogs .card-body .author-time, .blogs-pages-item a, .blogs-pages-item-next, .blogs-pages-item-prev i, .blogs-pages-item, .blogs-pages, .blogs-title, .navbar-menu a, .navbar-menu-btn, .navbar-menu, .navbar-logo-input button, .navbar-logo-input svg, .navbar-logo-input, .navbar-logo {
  display: flex;
  align-items: center;
}

footer p, .blogs-title, .navbar-menu a, .navbar-menu-btn, .navbar-logo span, .navbar-logo-input input {
  font-family: Noto Sans JP;
}

.navbar-menu a, .navbar-menu-btn button, .navbar-logo-input input {
  font-size: 15px;
  font-weight: 500;
  line-height: 21.72px;
}

.navbar {
  background: rgba(255, 255, 255, 0.6509803922);
  height: 122px;
  justify-content: space-between;
  z-index: 10;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .navbar {
    height: 69px;
    background: #FFFFFF;
  }
}
.navbar-logo {
  text-decoration: none;
  width: 55%;
  height: 61px;
  margin-left: 7.5%;
  position: absolute;
}
.navbar-logo-input {
  width: 40%;
  margin-left: 20px;
  height: 46px;
  border-radius: 5px;
  position: relative;
}
.navbar-logo-input input {
  padding-left: 10px;
  width: 100%;
  height: 100%;
  border: none;
  background: #FFFFFF;
  list-style: none;
}
.navbar-logo-input input::-moz-placeholder {
  color: #D4D1D4;
}
.navbar-logo-input input::placeholder {
  color: #D4D1D4;
}
.navbar-logo-input input:focus {
  outline: none;
}
.navbar-logo-input svg {
  position: absolute;
  width: 19px;
  height: 19px;
  border: none;
  left: 88%;
}
.navbar-logo-input button {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 19px;
  height: 19px;
  border-radius: 25px;
  border: none;
}
.navbar-logo-input button image {
  color: white;
}
@media screen and (max-width: 768px) {
  .navbar-logo-input {
    display: none;
  }
}
.navbar-logo img {
  height: 100%;
}
.navbar-logo span {
  font-weight: 700;
  font-size: 20px;
  line-height: 28.96px;
  font-style: normal;
  color: black;
  top: 1px;
}
@media screen and (max-width: 768px) {
  .navbar-logo {
    top: 5px;
    left: 0;
    margin-left: 0;
    font-size: 20px;
    justify-content: center;
    width: 100%;
  }
  .navbar-logo img {
    width: 47.09px;
    height: 45px;
  }
}
.navbar-bars {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .navbar-bars {
    color: gray;
    opacity: 1;
    position: relative;
    left: 25px;
    font-size: 2rem;
  }
  .navbar-bars img {
    padding-bottom: 8px;
  }
}
.navbar-search {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .navbar-search {
    opacity: 1;
    position: absolute;
    top: 25px;
    right: 25px;
    border-radius: 25px;
    border: none;
  }
  .navbar-search img {
    padding-bottom: 10px;
  }
}
.navbar-menu {
  margin-right: 7.5%;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }
}
.navbar-menu-avt {
  margin-left: 17px;
}
.navbar-menu-name {
  margin-left: 70px;
}
.navbar-menu-create {
  margin-left: 27px;
}
.navbar-menu-btn {
  justify-content: center;
  width: 40px;
  height: 27px;
  border-radius: 3px;
  background: #770303;
}
.navbar-menu-btn button {
  background: #770303;
  border: none;
  color: #FFFFFF;
}
.navbar-menu a {
  text-decoration: none;
  color: #212121;
  justify-content: center;
}
.navbar-user-avt {
  width: 26.67px;
  height: 26.67px;
  top: 48px;
  left: 1382px;
  position: absolute;
}

.blogs {
  padding-top: 392px;
}
@media screen and (max-width: 768px) {
  .blogs {
    padding-top: 292px;
  }
}
.blogs-title {
  position: relative;
  margin: 0px 7.5%;
  padding-top: 68px;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .blogs-title {
    padding-top: 69px;
    margin: 0px 9%;
  }
}
.blogs-title select {
  border-radius: 4px;
  border: 1px solid #DEDEDE;
  outline: none;
  padding: 7px 60px 11px 15px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../images/select.png");
  background-repeat: no-repeat;
  background-position: 113px center;
}
.blogs-title-name {
  text-decoration: none;
  height: 68px;
  padding-top: 10px;
  font-weight: 700;
  font-size: 50px;
  line-height: 72.4px;
  color: black;
}
@media screen and (max-width: 768px) {
  .blogs-title-name {
    font-size: 30px;
    line-height: 43.44px;
  }
}
.blogs-title-category {
  justify-content: center;
  width: 144px;
  height: 40px;
  padding-left: 15px;
  font-weight: 500;
  font-size: 15px;
  line-height: 21.72px;
  border: solid 1px #DEDEDE;
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.blogs-pages {
  height: 40px;
  margin-bottom: 96px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .blogs-pages {
    margin-bottom: 53px;
    margin-top: 17px;
  }
}
.blogs-pages-item {
  justify-content: center;
}
.blogs-pages-item-prev i {
  height: 40px;
  width: 40px;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  background: #C40000;
  border-radius: 50%;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .blogs-pages-item-prev i {
    height: 30px;
    width: 30px;
    font-size: 15px;
  }
}
.blogs-pages-item-next {
  height: 40px;
  width: 40px;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  background: gray;
  border-radius: 50%;
  color: #FFFFFF;
  opacity: 0.3;
}
@media screen and (max-width: 768px) {
  .blogs-pages-item-next {
    height: 30px;
    width: 30px;
    font-size: 15px;
  }
}
.blogs-pages-item a {
  font-family: SVN-Gilroy;
  height: 28px;
  width: 28px;
  text-decoration: none;
  margin: 10px;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: black;
}
.blogs-pages-item a:hover {
  height: 40px;
  width: 40px;
  color: #FFFFFF;
  border-radius: 50%;
  background: #C40000;
}
@media screen and (max-width: 768px) {
  .blogs-pages-item a {
    height: 15px;
    width: 15px;
    font-size: 15px;
  }
  .blogs-pages-item a a {
    height: 28px;
    width: 28px;
  }
  .blogs-pages-item a a:hover {
    color: #FFFFFF;
    border-radius: 50%;
    background: #C40000;
  }
}
.blogs .row {
  margin: 0px 7%;
  margin-top: 34px;
}
@media screen and (max-width: 768px) {
  .blogs .row {
    margin: 0px 7%;
  }
}
.blogs .card {
  border-radius: 8px;
  margin-bottom: 50px;
  margin-top: 20px;
}
.blogs .card-body {
  font-family: SVN-Gilroy;
}
.blogs .card-body button {
  color: #C40000;
  font-size: 14px;
  width: 137px;
  padding-left: 12px;
  padding-bottom: 4px;
  height: 40px;
  border: solid 1px #DEDEDE;
  border-radius: 4px;
}
.blogs .card-body button:hover {
  border-radius: 5px;
  background: #C40000;
  color: #FFFFFF;
}
.blogs .card-body button:hover a {
  color: #FFFFFF;
}
.blogs .card-body button:hover svg path {
  stroke: #FFFFFF;
}
.blogs .card-body button svg {
  left: 32%;
  margin-top: 4px;
}
.blogs .card-body h6 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.blogs .card-body p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.blogs .card-body i {
  padding-right: 5px;
}
.blogs .card-body h7 {
  padding-right: 25px;
  padding-left: 3px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

footer {
  justify-content: center;
  height: 94px;
  background: black;
}
footer p {
  margin: 0;
  width: 251px;
  height: 20px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 15px;
  line-height: 21.72px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes header-up {
  0% {
    top: 0px;
  }
  100% {
    top: -122px;
  }
}
@keyframes header-down {
  0% {
    top: -122px;
  }
  100% {
    top: 0;
  }
}
body .header-up {
  animation-name: header-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
body .header-down {
  animation-name: header-down;
  animation-duration: 1s;
}/*# sourceMappingURL=style.css.map */